mlbackup
*.*~
*.dcu
*.ppu
*.cfg
*.dof
*.~*
*.dsk
*.exe
*.bpg
*.rsm
innosetup/
*.falsch
*.hnt
*.std
*.log
*.zip
*.drc
*.lnk
*.dat
*.bak
*.lst
*.out
*.old
*.pln
*.pos
*.db
*.r16
*.r32
*.manifest
*.uni
*.bk1
*.bk2
*.d16
*.d32
*.aps
*.rus
*.cnt
*.prf
*.map
*.zzz
*.int
*.tgz
*.prg
*.tree
*.tlb
*.dfm_
*.pas_
*.rsp
*.pla
*.planerorg
*.lps
*.dbg
heaptrace.txt
backup/
lib/
